<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608422976969-0l2l8ko5ananegf5e6kcvjp8g1ioa5ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608422976969-0l2l8ko5ananegf5e6kcvjp8g1ioa5ai</string>
	<key>API_KEY</key>
	<string>AIzaSyA3J0v_1O4hWAW6ddpaZjnIj-RIFJ2dI34</string>
	<key>GCM_SENDER_ID</key>
	<string>608422976969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maybank2u.life-uat</string>
	<key>PROJECT_ID</key>
	<string>m2ulife-7bd3c</string>
	<key>STORAGE_BUCKET</key>
	<string>m2ulife-7bd3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608422976969:ios:3dae7bbcd8b002529bdc18</string>
	<key>DATABASE_URL</key>
	<string>https://m2ulife-7bd3c.firebaseio.com</string>
</dict>
</plist>